* {
    box-sizing: content-box;
}
@font-face {
    font-family: menufont;
    src: url(./ASSETS/font/menu.otf);
}
@font-face {
    font-family: h1font;
    src: url(./ASSETS/font/h1.ttf);
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    font-size: 26px;
}

.logo {
    width: 120px;
}

header {
    display: flex;
    display: -webkit-flex;
    margin: 0 15%;
    padding-top: 75px;
    justify-content: space-between;
    align-items: center;
}
#domov * {
    color: #D75754;
    border-color: #791D1A;
}
#omne *, #galeria *, #kontakt * {
    color: #D7B854;
    border-color: #93832F;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 5px;
    padding: 5px;
}
header a {
    font-family: menufont, "Impact", sans-serif;
    font-size: 36px;
}

a.selected {
    border-bottom: 1px solid white;
}

h1 {
    font-family: h1font, "Arial Black", sans-serif;
    text-transform: uppercase;
    font-size: 80px;
    color: white;
    text-align: right;
    margin:0;
    text-shadow: 0 0 40px rgb(5, 31, 41);
}
.video-link {
    width: 400px;
    height: 215px;
    margin-top: 60px;
    padding: 0;
    background-image: url(ASSETS/other-img/video-link-bg.jpg);
    opacity: 0.9;
    box-shadow: 0 0 40px #e22714a6;
}
.video-link:hover {
    opacity: 1;
}
.right-col {
    display: flex;
    display: -webkit-flex;
    max-width: 400px;
    flex-direction: column;
    -webkit-flex-direction: column;
    margin: 0 15% 0 auto;
    align-items: flex-end;
    padding-bottom: 75px;
}
#domov .right-col {
    max-width: none;
}

section {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 100%;
    min-height: 100%;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    background-color: #111;
}
p, ul {
    max-width: 400px;
    text-align: right;
    color: white;
    font-family: "Arial", sans-serif;
    border: 1px solid white;
    padding: 25px;
    margin-bottom: 0;
    margin-top: 60px;
    background: rgba(15, 15, 15, 0.49);
}
li {
    text-align: left;
    margin-left: 15px;
}
#domov {
    background-image: url(ASSETS/bg/domov.jpg);
}
#omne {
    background-image: url(ASSETS/bg/omne.jpg);
}
#galeria {
    background-image: url(ASSETS/bg/galeria.jpg);
}
#kontakt {
    background-image: url(ASSETS/bg/kontakt.jpg);
}

.slideshow {
    max-width: 850px;
    height: 500px;
    margin: 0 15% 75px auto;
}
.slideshow img {
    max-width: 850px;
    border: 1px solid white;
}
p, ul, .slideshow {
    box-shadow: 0 0 40px #e2ac14a6;
}
@media (max-width: 1100px) {
    .slideshow, .slideshow img {
        max-width: 700px;
        height: 450px;
    }
}
@media (max-width: 568px) {
    section {
        max-width: 100%;
        min-height: 0;
        background-image: none !important;
        justify-content: center;
        align-items: center;
    }
    section header, section nav {
        display: none;
    }
    #domov header {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
    }
    #domov header img {
        margin-bottom: 75px;
    }
    section h1 {
        font-size: 36px;
        margin: auto;
        text-align: center;
    }
    .video-link {
        width: 150px;
        height: 170px;
        background-position: center;
        margin: 75px auto 0;
    }
    .right-col, p, ul {
        min-width: 0;
        max-width: 100%;
        margin: auto;
        border: none;
        overflow: hidden;
    }
    .slideshow, .slideshow img {
        width: 100%;
        height: auto;
        border-left: none;
        border-right: none;
    }
}